In this lab we're going to do simple data exploration using Pandas. Our objective is to learn basic operations that aid in visual data exploration.

<br>

First, let's import our required libraries and read in the data.

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os


cwd = os.getcwd()

#If on MAC, this will likely work
datadir = '/'.join(cwd.split('/')[0:-1]) + '/data/'
#If on window's machine, explicitly put in data dir
datadir = 'c:/users/connor/datasciencecourse/ipython/data/'

%matplotlib inline
print(datadir)


#Now read in the dataset loansdata.csv
loansData = pd.read_csv(datadir+'loansdata.csv')
loansData.head()

c:/users/connor/datasciencecourse/ipython/data/

,CustNUm,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174,20000,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,99592,19200,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,80059,35000,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,15825,10000,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,33182,12000,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

The full schema can be found <a href="https://github.com/herrfz/dataanalysis/blob/master/assignment1/Assignment1.pdf">here</a>, but let's use native Pandas methods to also explore the data. Although not specified above, this csv has row headers and the read_csv function implicitly knows this. <br>

Let's take a look at the column names, in a nicely readable way:

In [12]:
print("Column Names Are:")
print("")

for column_name in loansData.columns.values:
    print(column_name)

print("")
print('Total # of Columns = {}'.format(len(loansData.columns)))

Column Names Are:

CustNUm
Amount.Requested
Amount.Funded.By.Investors
Interest.Rate
Loan.Length
Loan.Purpose
Debt.To.Income.Ratio
State
Home.Ownership
Monthly.Income
FICO.Range
Open.CREDIT.Lines
Revolving.CREDIT.Balance
Inquiries.in.the.Last.6.Months
Employment.Length

Total # of Columns = 15

It is oftentimes helpful to take a quick glance at the first few records (when possible). This is an easy way to discover basic data flaws (i.e., all nulls, misaligned fields, etc.). We can do this in Pandas very easily.

In [13]:
loansData.head().transpose() #We transpose it so it will fit in the display window

,0,1,2,3,4
CustNUm,81174,99592,80059,15825,33182
Amount.Requested,20000,19200,35000,10000,12000
Amount.Funded.By.Investors,20000,19200,35000,9975,12000
Interest.Rate,8.90%,12.12%,21.98%,9.99%,11.71%
Loan.Length,36 months,36 months,60 months,36 months,36 months
Loan.Purpose,debt_consolidation,debt_consolidation,debt_consolidation,debt_consolidation,credit_card
Debt.To.Income.Ratio,14.90%,28.36%,23.81%,14.30%,18.78%
State,SC,TX,CA,KS,NJ
Home.Ownership,MORTGAGE,MORTGAGE,MORTGAGE,MORTGAGE,RENT
Monthly.Income,6541.67,4583.33,11500,3833.33,3195
FICO.Range,735-739,715-719,690-694,695-699,695-699
Open.CREDIT.Lines,14,12,14,10,11
Revolving.CREDIT.Balance,14272,11140,21977,9346,14469
Inquiries.in.the.Last.6.Months,2,1,1,0,0
Employment.Length,< 1 year,2 years,2 years,5 years,9 years

Next, let's run a quick line to get summary statistics of the numeric fields.

In [14]:
loansData.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
CustNUm,2500.0,51631.597200,30053.345508,10.00,26523.00,50653.0,77580.50,104202.0
Amount.Requested,2500.0,12406.500000,7801.544872,1000.00,6000.00,10000.0,17000.00,35000.0
Amount.Funded.By.Investors,2500.0,12001.573236,7745.320754,-0.01,6000.00,10000.0,16000.00,35000.0
Monthly.Income,2499.0,5688.931321,3963.118185,588.50,3500.00,5000.0,6800.00,102750.0
Open.CREDIT.Lines,2498.0,10.075661,4.508644,2.00,7.00,9.0,13.00,38.0
Revolving.CREDIT.Balance,2498.0,15244.559648,18308.549795,0.00,5585.75,10962.0,18888.75,270800.0
Inquiries.in.the.Last.6.Months,2498.0,0.906325,1.231036,0.00,0.00,0.0,1.00,9.0

Let's now focus on a single column, 'Monthly.Income.' First things first, let's display the first five records of just this field.

In [16]:
#Student input line here

loansData['Monthly.Income'].head()

0     6541.67
1     4583.33
2    11500.00
3     3833.33
4     3195.00
Name: Monthly.Income, dtype: float64

Let's try and understand the distribution of this field. We can do this using the hist() method and matplotlib.

In [17]:
plt.figure()
hist_inc = loansData['Monthly.Income'].hist()
plt.title('Histogram of Monthly Income')
#plt.show()

How would you characterize the shape of this distribution? Is there anything we can do to the income variable to make the distribution more bell curved? Let's create a new column in the dataframe called 'Monthly.LogIncome' and print a histogram of it. What might be some advantages of making such a transformation?
<br>

In [6]:
#Student: Add a new column Monthly.LogIncome to the dataset that is the log of the Monthly.Income columne

In [ ]:
#Now look at the distribution
plt.figure()
h = loansData['Monthly.LogIncome'].hist()
plt.title('Histogram of Log(Monthly Income)')
plt.show()

Now let's answer some questions about the data.

<b>Q1: What is the cardinality (i.e., # of distinct values) for 'Interest.Rate' and 'FICO.Range'</b>

In [7]:
#Student input code here - hint, the 'describe()' method returns a useful dataframe

<b>Q2: What data type did Pandas set fo Interest.Rate? Can we create a new field which is stored as a float?</b>

In [8]:
#Student input code here - show the field type

In the cell below, create a new field 'Interest.Rate.Num' where 'Interest.Rate' is converted to a float. Hint: this can be done in one line using the .str assessor, strip and astype methods.

In [13]:
#Student input code here - convert field to a float using the '.str' assessor

<b>Q3: Can we get a sense of the relationship between monthly income and interest rate? Use the scatter() function from Matplotlib.</b>

In [9]:
#Student input line here

Given the skewed distribution of Income, is this chart visually helpful? Let's try the Log of income instead.

In [10]:
#Student input code here

<b>Q4: What is the average interest rate for each FICO range?</b> <br>
Hint: use the groupby() method in Pandas.

In [11]:
#Student input code here
fico_grp =

In [12]:
#fico_grp